<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PageNoProvider" value="False" />
    <add key="PageSizeProvider" value="True" />
    <add key="Admin" value="0340" />
    <add key="BaaNLive" value="True" />
    <add key="JoomlaLive" value="True" />
    <add key="ERPCompany" value="200" />
    <add key="IsLocalISGECVault" value="True" />
    <add key="ISGECVaultIP" value="perk01" />
    <add key="UnderDevelopment" value="False" />
    <add key="Testing" value="False" />
    <add key="CreateDefaultUserFolder" value="False" />
    <add key="DefaultPage" value="~/Default.aspx" />
  </appSettings>
  <connectionStrings>
    <remove name="AspNetDBConnection"/>
    <add name="AspNetDBConnection" connectionString="Data Source=perk03;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="-AspNetDBConnection" connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="STD" />
        <add directoryName="QCM" />
        <add directoryName="xDMS" />
      </codeSubDirectories>
      <assemblies>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Office.Interop.Excel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="AspNetDBConnection" name="AspNetSqlRoleProvider" type="system.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <sessionState cookieless="UseDeviceProfile" timeout="60" />
    <httpRuntime executionTimeout="14400" maxRequestLength="2147483647" requestLengthDiskThreshold="2147483647" maxUrlLength="1024" requestValidationMode="2.0" />
    <customErrors mode="RemoteOnly" />
    <identity impersonate="false" />
    <authorization>
      <allow users="*" />
    </authorization>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages maintainScrollPositionOnPostBack="true" styleSheetTheme="Default" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="LGM" tagName="LoginLine" src="~/Sys_Controls/Login0.ascx" />
        <add tagPrefix="LGM" tagName="LoginPage" src="~/Sys_Controls/Login1.ascx" />
        <add tagPrefix="LGM" tagName="ChangePass" src="~/Sys_Controls/Login2.ascx" />
        <add tagPrefix="LGM" tagName="ToolBar0" src="~/Sys_Controls/lgToolbar.ascx" />
        <add tagPrefix="LGM" tagName="Informations" src="~/Sys_Controls/Controls/Informations.ascx" />
        <add tagPrefix="LGM" tagName="LGLoading" src="~/Sys_Controls/lgLoading.ascx" />
        <add tagPrefix="LGM" tagName="LGMessage" src="~/Sys_Controls/lgMessage.ascx" />
        <add tagPrefix="LGM" tagName="LGAlert" src="~/Sys_Controls/lgAlert.ascx" />
        <add tagPrefix="LGM" tagName="LC_FinComp" src="~/Sys_Controls/FinComp.ascx" />
        <add tagPrefix="LGM" tagName="ToolBarGrid" src="~/Sys_Controls/tblGrid.ascx" />
        <add tagPrefix="LGM" tagName="ToolBarDMS" src="~/Sys_Controls/tblDMSview.ascx" />
        <add tagPrefix="LGM" tagName="LGMessageBox" src="~/Sys_Controls/lgMessageBox.ascx" />
        <add tagPrefix="LGM" tagName="LC_xDmsItemTypes" src="~/xDMS_Main/APP_FKControls/LC_xDmsItemTypes.ascx" />
        <add tagPrefix="LGM" tagName="LC_xDmsStates" src="~/xDMS_Main/APP_FKControls/LC_xDmsStates.ascx" />
        <add tagPrefix="LGM" tagName="LC_xDmsItems" src="~/xDMS_Main/APP_FKControls/LC_xDmsItems.ascx" />
        <add tagPrefix="LGM" tagName="LC_xDmsFiles" src="~/xDMS_Main/APP_FKControls/LC_xDmsFiles.ascx" />
        <add tagPrefix="LGM" tagName="LC_xDmsFolders" src="~/xDMS_Main/APP_FKControls/LC_xDmsFolders.ascx" />
        <add tagPrefix="LGM" tagName="LC_xDmsGroups" src="~/xDMS_Main/APP_FKControls/LC_xDmsGroups.ascx" />

        <add tagPrefix="LGM" tagName="LC_xDmsWorkflows" src="~/xDMS_Main/APP_FKControls/LC_xDmsWorkflows.ascx" />
        <add tagPrefix="LGM" tagName="LC_xDmsFileTypes" src="~/xDMS_Main/APP_FKControls/LC_xDmsFileTypes.ascx" />
        <add tagPrefix="LGM" tagName="LC_xDmsFGroups" src="~/xDMS_Main/APP_FKControls/LC_xDmsFGroups.ascx" />
        <add tagPrefix="LGM" tagName="LC_xDmsUGroups" src="~/xDMS_Main/APP_FKControls/LC_xDmsUGroups.ascx" />

        <add tagPrefix="LGM" tagName="AF_CFoldersAdmin" src="~/xDMS_Main/APP_Controls/AF_CFoldersAdmin.ascx" />
        <add tagPrefix="LGM" tagName="LC_xDmsERPTransmittalTypes" src="~/xDMS_Main/APP_FKControls/LC_xDmsERPTransmittalTypes.ascx" />

      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="leave@isgec.co.in">
        <network host="192.9.200.214" userName="leave" password="ijt123" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2147483647" maxUrl="2147483647" maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
      </customHeaders>
    </httpProtocol>    
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebAuthorizationServiceSoap" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint name="WebAuthorizationServiceSoap" address="http://localhost/WebTools2/App_Services/WebAuthorizationService.asmx" binding="basicHttpBinding" bindingConfiguration="WebAuthorizationServiceSoap" contract="WebAuthorization.WebAuthorizationServiceSoap" />
      <endpoint name="WebAuthorizationServiceRest" address="http://cloud.isgec.co.in/WebDMS2/App_Services/dmsUploader.ashx" binding="basicHttpBinding" bindingConfiguration="WebAuthorizationServiceSoap" contract="WebAuthorization.WebAuthorizationServiceSoap" />-->
    </client>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Update this value to set the max length -->
        <jsonSerialization  maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>