body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  background-color:white;
}
.sis_formview{
  width:100%;
}
table {
  border: 0px;
  border-collapse: collapse;
}
a{
  text-decoration:none;
}
div,
td {
  font-family: Verdana, Arial;
  font-size:9px;
}
.pagedata {
  padding: 0px 3px 0px 3px;
}

fieldset {
  padding: 0 15px 10px 15px;
}

legend {
  padding: 4px 15px 4px 10px;
  margin: 4px 0 8px 8px;
  _margin-top: 0px;
  border: 1px solid #dddddd;
  background: #e9e9e9;
  font-weight: bold;
  border-radius: 8px;
  background: #014464;
  color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #0272a7, #013953);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
  background-image: linear-gradient(#0272a7, #013953);
  background-image: -o-linear-gradient(top, #0272a7, #013953);
}
.sis_login {
  padding:5px;
  height: 60px !important;
  border-radius: 10px 10px 0px 0px;
}
.sis_footer{
  border-radius: 0px 0px 10px 10px;
  height: 35px !important;
  color:gray;
  font-size:0.6rem;
  padding-left:6px;
}
.sis-body{
  display: flex;
  flex-direction:column;
  border: 1px solid #c3cecb;
}
#cssmenu > ul {
 /* border-top: 1pt solid red;
  This is background of menu bar*/
}

#cssmenu > ul,
.sis_login,
.sis_footer{
  /*background-color:#303c57;*/
background: #b3bead;
background: -moz-linear-gradient(top,  #b3bead 0%, #dfe5d7 100%, #fcfff4 100%);
background: -webkit-linear-gradient(top,  #b3bead 0%,#dfe5d7 100%,#fcfff4 100%);
background: linear-gradient(to bottom,  #b3bead 0%,#dfe5d7 100%,#fcfff4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3bead', endColorstr='#fcfff4',GradientType=0 );
}

.minipage {
  overflow: hidden;
  margin:auto;
  padding: 4px 2px 4px 2px;
  width: 96%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  background: White;
  color: #333333;
}

.page {
  overflow: hidden;
  margin: 15px auto;
  width: 96%;
  padding: 0px 0px 6px 0px;
  background: White;
  color: #333333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.caption {
  min-height: 20px;
  border: 1px solid #dddddd;
  background: #e9e9e9;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px 4px 6px 4px;
  background: #014464;
  color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #0272a7, #013953);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
  background-image: linear-gradient(#0272a7, #013953);
  background-image: -o-linear-gradient(top, #0272a7, #013953);
}

.mnu_but {
  min-width: 24px;
  text-align: center;
  vertical-align: middle;
  color: White;
}

.loginTd {
  padding: 5px 5px 0 0;
  vertical-align: top;
  text-align: right;
}



.sis_menu {
  padding:2px;
  background-color:#93bebf;
  border: 1pt solid #63bdbf;
}



.warningLG {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url(images/warningLG.png);
}

.errorLG {
  color: #D8000C;
  background-color: #FFBABA;
  border: 1px solid;
  margin: 2px 0px 0px 0px;
  width: 80px;
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 4s;
}

.groupHeader {
  font-weight: bold;
  border: 1px solid lightgray;
  color: #e6e6e6;
  font-size: 10px;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  background: #606c88;
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%);
  background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
}

.dmychk, .dmytxt {
  border: #5F9EA0 1pt solid;
  background-color: #e3e0df;
  padding: 6px 3px 1px 3px;
  color: #000066;
}

.mychk {
  border: 1pt solid #FF99CC;
  background-color: #FFEBCD;
  padding:3px;
  color: #000066;
}

.mypktxt {
  border: 1pt solid #FF99CC;
  background-color: #FFEBCD;
  color: dimgray;
}

.dmymsg{border: black 1pt solid;font-size: 10px;background-color:black; color: yellow;}


.myddl, .mytxt, .myfktxt {
  border-color: cornflowerblue;
  background-color: #edfbfb;
  border-width: 1pt;
  color: #000066;
}

.myLbl {
  margin: auto;
  padding: 4px 2px 2px 2px;
  border: 1px solid #FFCC00;
  color: #9F6000;
  background-color: #FEEFB3;
}
.mytlbl{
  background-color:#93bebf;
  border: 1pt solid #63bdbf;
  border-radius:6px 6px 0px 0px;
}

.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

/*Modal Popup*/
.sis_modal {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color:#9fb6c1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.sis_msg {
  position: fixed;
  top: 40%;
  left: 40%;
  z-index: 106;
}

.modalBackground {
  background-color:#9fb6c1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.modalPopup {
  border: 3px solid Gray;
  margin: auto;
  background-color: #ffffdd;
  padding: 3px;
}

.returnremark {
  background-image: url(images/indicator.gif);
  background-repeat: no-repeat;
}

.MyCalendar .ajax__calendar_container {
  border: 1px solid #646464;
  background-color: #a7bfde;
  color: red;
}

.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
  color: black;
}

.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
  color: black;
}

.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
  color: black;
  font-weight: bold;
}

.imgbut {
  cursor: help;
}

/*AutoComplete flyout */
.autocomplete_completionListElement {
  visibility: hidden;
  margin: 0px !important;
  background-color: inherit;
  color: windowtext;
  border: buttonshadow;
  border-width: 1px;
  border-style: solid;
  cursor: default;
  overflow: auto;
  max-height: 200px;
  text-align: left;
  list-style-type: none;
  font: Courier;
  font-size: 12px;
  z-index: 605!important;
  padding: 0px;
  width: 350px !important;
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem {
  background-color: #0033CC;
  color: #FFFFFF;
}
/* AutoComplete item */
.autocomplete_listItem {
  background-color: black;
  color: white;
}

.DDSearchPrompt {
  font-style: italic;
  font-size: 8px;
  text-align: left;
  color: Gray;
  background-color: white;
  border: solid 1pt gray;
}
/* Grid-View silver  #7C879D*/
.gv_silver {
  width: 100%;
  border: solid 1pt #BCBCC3;
}

.gvh_silver {
  width: 100%;
}

  .gvh_silver th {
    height: 20px;
    font-size: 12px;
    font-weight:normal;
    border-right: 1pt solid gray;
    background: #fcfff4;
    background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 18%, #b3bead 100%);
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 18%,#b3bead 100%);
    background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 18%,#b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  }

    .gvh_silver th A {
      color: #000000;
      text-decoration:none;
    }

      .gvh_silver th A:hover {
        color: Blue;
      }

.gvr_silver {
  background-color: #FFFFFF;
}

.gva_silver {
  background-color: #f2f2f2;
}

.gvs_silver {
  background-color: #d6fbfb;
}

  .gvr_silver:hover, .gva_silver:hover, .gvs_silver:hover {
    background-color: yellow;
  }

  .gvr_silver td, .gva_silver td, .gvs_silver td {
    font-size:10px;
    border-bottom: 1pt solid #BCBCC3;
  }

.gvf_silver {
  height: 20px;
  background-color: #71CEEF;
}

.gvp_silver {
  height: 30px;
  font-weight:normal;
  background: #fcfff4;
  background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 18%, #b3bead 100%);
  background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 18%,#b3bead 100%);
  background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 18%,#b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.gvp_silver td table tbody tr td {padding-left:10px;}
.gvp_silver a{}

.gvp_lsilver {
  height: 20px;
  background:#cfe3e4;
  border: 1pt solid #829d98;
}
.gvp_lsilver td table tbody tr td {padding-left:10px;}
.gvp_lsilver a{}

.gve_silver td {
  height: 20px;
  color: Red;
  text-align: center;
  background: #fcfff4;
  background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 18%, #b3bead 100%);
  background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 18%,#b3bead 100%);
  background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 18%,#b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
/* end gv silver*/
.lg_silver {
  background: #d8e0de; /* Old browsers */
  background: -moz-linear-gradient(top, #d8e0de 0%, #aebfbc 22%, #99afab 33%, #8ea6a2 50%, #829d98 67%, #4e5c5a 85%, #0e0e0e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 85%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 85%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

.cph_filter {
  width: 99.8%;
  height: 24px;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#92B5F2', EndColorStr='#C8DAF8');
  color: #4668A6;
  font-size: 10px;
  border: solid 1pt #6495ED;
}

.cp_filter {
  width: 99.8%;
  overflow: hidden;
  background-color: #D3E1FA;
  border-bottom: solid 1pt #6495ED;
  border-left: solid 1pt #6495ED;
  border-right: solid 1pt #6495ED;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 15px;
  border: 1px solid #888;
  display:inline-block;
  /*width: 80%;*/ /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.waterMark {
}